<div class="containers">
    <div class="title">
        <h1><span>Online</span> shopping</h1>
    </div>

    <input type="text" class="form-control py-2 border-right-0"
    placeholder="Search..." name="keyword" [(ngModel)]="keyword">

    <div class="row">
        <div class="col-md-3" *ngFor="let headphones of headphonesList | filter: keyword">
            <div class="card">
                <img class="img-responsive img-headphones" src={{headphones.image_path}}>
                <div class="content">
                    <h4>{{headphones.name}}</h4>
                    <h5>{{headphones.price}}€</h5>
                    <p><b>{{headphones.times_sold}}+</b> sold <fa-icon [icon]="['fas', 'circle-check']" style="color: #fa0"></fa-icon></p>
                    
                </div>
                <button class="see-more">See more</button>
            </div>
        </div>
    </div>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe7twMDsHM9UhmY-WolznX4-twHqbfjO9lK0rMQH58h8FrRAQ/viewform?embedded=true&hl=en" width="100%" height="900" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
</div>

